@model List<Movies>

<head>
	<link rel="stylesheet" href="~/css/MainPage/Index/Index.css" />
</head>

<body>

	<div class="container">
		<div class="row pt-4">
			<div class="col-6">
				<h1 class="text-primary">
					<strong class="text-white">Filmes</strong>
				</h1>
			</div>
		</div>
	</div>
	
	<br/>
	<br/>
	<br/>


	<div class="main-content">

		<div class="container">

			<div id="" class="slider">
				@foreach (var obj in Model)
				{
					<div class="movie-element">

						<img src="~/Images/imagem_de_Fundo.jpg" style="max-height:192px; max-width:240px">

						<br/>
						<p class="movie-title">@obj.Title</p>
						<br/>
						<br/>
						<br/>

					</div>
				}
			</div>
		</div>
	</div>

</body>


<script src="~/js/MainPage/Index/Index.js"></script>
