@model List<Movies>
@{
	bool variavel = false;
	
}
<head>
	<link rel="stylesheet" href="~/css/MainPage/Index/Index.css" />
</head>

<body>

	<h1 class="text-primary">
		<strong class="text-white ">Filmes</strong>
	</h1>
			
	
	<br/>
	<br/>
	<br/>
	@if (variavel == true)
	{
		<h2>
			CADE O MEU PAL??? AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA!!!!!!!!!!!
		</h2>
	}

	<div class="main-content p-0 m-0">

		<div class="container p-0">

			<div id="" class="slider">
				<ul class="films-list">
					@foreach (var obj in Model)
					{
						<li>
							<div class="movie-element bg-primary text-white">

								<img class="movie-image"src="~/Images/NetFlixo.jpg" style="max-height:192px; max-width:240px;">
								<br/>
								<div class="movie-element" >
									<p class="movie-title">@obj.Title</p>
									<br/>
									@if(obj.LengthMinutes % 2 == 0)
									{
										<p>Par e.e</p>
									}
									<p class="movie-length">@obj.LengthMinutes minutos</p>
								</div>
								<br/>
								<br/>

							</div>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>

</body>


<script src="~/js/MainPage/Index/Index.js"></script>