@model List<Movies>



<div class="container">
	<div class="row pt-4">
		<div class="col-6">
			<h1 class="text-secondary">
				<strong>Filmes</strong>
			</h1>
		</div>
	</div>
</div>

<table class="table table-bordered table-striped">
	<tbody>
		@foreach(var obj in Model)
		{
			<tr>
				<td style="border: solid 1px white">
					
					<h3>@obj.Title</h3>
				</td>
				<td>
					<p>@obj.Description</p>
				</td>
				<td>
					<hr>
				</td>
			</tr>

		}
	</tbody>
</table>